[[source]]
url = "https://nexus.cloudint.afip.gob.ar/nexus/repository/pypi-proxy/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
cx-oracle = "*"
pyjwt = "*"
jose = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
bcrypt = "*"
requests = "*"
pytest = "*"
httpx = "*"
response = "*"
passlib = {extras = ["totp"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
